---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Amanda Connell">
  <div class="container mx-auto mt-20 lg:mt-40 max-w-200 text-lg">
    <h1
      id="about"
      class="heading uppercase text-center text-6xl text-rose-600 pb-12"
    >
      A bit about me
    </h1>
    <p>
      For the past year I've been studying web design at university and building
      skills in HTML, CSS, JavaScript, frameworks, and UX/UI. During this time,
      I have discovered the joy of working with design and have had the chance
      to stretch my creative muscles, while also growing my coding skills. I am
      keen to create functional and usable solutions, with a focus on
      inclusivity and accessibility.
    </p>
    <p>
      Whether you are looking for a new design or need assistance with the full
      experience from design to code, I'm happy to help!
    </p>
  </div>
</Layout>
