---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Amanda Connell">
  <div class="container mx-auto mt-20 lg:mt-40 max-w-200 text-lg">
    <h1
      id="contact"
      class="heading uppercase text-center text-6xl text-rose-600 pb-12"
    >
      Say hi
    </h1>
    <p>
      Have a burning question or just looking to connect? I'd love to hear from
      you! Use the button below or send an email to <span
        class="italic font-semibold">amandaconnell@protonmail.com</span
      >.
    </p>
    <a
      href="mailto:amandaconnell@protonmail.com"
      class="btn btn-hover self-center focus-indicator">Send email</a
    >
  </div>
</Layout>
