---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Amanda Connell">
  <div class="container mt-20 sm:mt-40">
    <p class="text-xl">Hello there</p>
    <h1 class="heading uppercase text-7xl md:text-8xl text-rose-600">
      I'm Amanda
    </h1>
    <p class="uppercase text-4xl">Web Designer & Developer</p>
    <p class="max-w-2xl text-lg">
      With an eye for details and a soft spot for accessibility, I strive to
      build creative and engaging user experiences.
    </p>
    <div class="flex gap-4">
      <a href="/work/" class="btn btn-hover self-start focus-indicator"
        >View portfolio</a
      >
      <a href="/contact/" class="btn btn-hover self-start focus-indicator"
        >Contact me</a
      >
    </div>
  </div>
</Layout>
