---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work | Amanda Connell">
  <div class="flex flex-col gap-4 mt-20 lg:mt-40">
    <h1
      id="portfolio"
      class="heading uppercase text-center text-6xl text-rose-600 pb-12 mx-8"
    >
      Some of my work
    </h1>

    <div class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card 1 -->
      <div class="card">
        <a
          href="https://elviraholmberg.netlify.app"
          target="_blank"
          class="mb-2 focus-indicator"
        >
          <img
            src="/portfolio.webp"
            alt="A website with three images at full height with a category name displayed on each image."
            class="rounded-lg"
          />
        </a>
        <h3 class="sub-heading">Photo Portfolio</h3>
        <span class="pill">Design & Code</span>
        <p class="pb-4">
          I worked with a client to create a design tailored to their needs. The
          result is a portfolio website built with Astro and Tailwind CSS. I
          combined everything I had learned so far and put it to practice, and
          used this project to learn more about accessible web design.
        </p>
        <a
          href="https://elviraholmberg.netlify.app"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Live demo</a
        >
      </div>

      <!-- Card 2 -->
      <div class="card">
        <a
          href="https://prerun.netlify.app/#/"
          target="_blank"
          class="mb-2 focus-indicator"
        >
          <img
            src="/run.webp"
            alt="Three mobile screen mockups displaying three different interfaces of a running app."
            class="rounded-lg"
          />
        </a>
        <h3 class="sub-heading">Running Planner</h3>
        <span class="pill">Design & Code</span>
        <p class="pb-4">
          I built a running app that allows the user to plan and view future
          workouts as well as access relevant weather information via an API. My
          aim was to create a personalised user experience. The app was built
          using Vue.js and Tailwind CSS.
        </p>
        <a
          href="https://prerun.netlify.app/#/"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Live demo</a
        >
      </div>

      <!-- Card 3 -->
      <div class="card">
        <a
          href="https://saltstonehotel.netlify.app"
          target="_blank"
          class="mb-2 focus-indicator"
        >
          <img
            src="/hotel.webp"
            alt="A website with a large hero section and a grid of large cards displayed below."
            class="rounded-lg"
          />
        </a>
        <h3 class="sub-heading">Hotel Website</h3>
        <span class="pill">Design & Code</span>
        <p class="pb-4">
          The goal was to utilise a CSS frameworks to quickly create a complete
          and consistent user interface. I tried and fell in love with Tailwind
          CSS, and built a website for a fictional hotel.
        </p>
        <a
          href="https://saltstonehotel.netlify.app"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Live demo</a
        >
      </div>

      <!-- Card 4 -->
      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=1-155&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=1%3A155"
          target="_blank"
          class="mb-2 focus-indicator"
        >
          <img
            src="/dogs.webp"
            alt="A website displaying a large hero section with a dog and a vertical card displaying an image of dogs and text below."
            class="rounded-lg"
          />
        </a>
        <h3 class="sub-heading">Breeder's Website</h3>
        <span class="pill">Design & Prototype</span>
        <p class="pb-4">
          My very first website design made in Figma. Here I used everything I
          had learned so far about design patterns, visual hierarchy, spacing,
          and typography. My aim was to create an inspiring, consistent and
          clear interface.
        </p>
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=1-155&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=1%3A155"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Prototype</a
        >
      </div>

      <!-- Card 5 -->
      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-458&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A458"
          target="_blank"
          class="mb-2 focus-indicator"
        >
          <img
            src="/bakery.webp"
            alt="A website with a wide hero section showing a cinnamon roll with a bento box grid below, alternating text and images."
            class="rounded-lg"
          />
        </a>
        <h3 class="sub-heading">Bakery Website</h3>
        <span class="pill">Design & Prototype</span>
        <p class="pb-4">
          My second website design made in Figma. I learned more about spacing,
          margins, and the use of grids to position elements. This was also the
          project where I learned how to create an interactive prototype in
          Figma.
        </p>
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-458&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A458"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Prototype</a
        >
      </div>

      <!-- Card 6 -->
      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-1594&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A1594"
          target="_blank"
          class="mb-2 focus-indicator"
        >
          <img
            src="/band.webp"
            alt="A website with a dark background, displaying large images in blue tones and bold text."
            class="rounded-lg"
          />
        </a>
        <h3 class="sub-heading">Band Website</h3>
        <span class="pill">Design & Prototype</span>
        <p class="pb-4">
          My first full website design in Figma, built around the fictional band
          Espressivo. Not only did I create an identity for the band and user
          research to identify the target audience, but I also challenged myself
          to think outside of the box in terms of layout and style.
        </p>
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-1594&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A1594"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Prototype</a
        >
      </div>
    </div>

    <!-- <div class="flex items-center">
      <button
        id="btn-prev"
        class="inline-flex justify-center items-center opacity-70 hover:opacity-100"
      >
        <i class="bi bi-arrow-left-circle-fill text-3xl"></i>
      </button>
    </div>

    <button
      id="btn-next"
      class="inline-flex justify-center items-center opacity-70 hover:opacity-100"
    >
      <i class="bi bi-arrow-right-circle-fill text-3xl"></i>
    </button>
  </div> -->

    <!-- <div class="grid grid-cols-6 mx-auto">
      <div class="card">
        <a
          href="https://elviraholmberg.netlify.app"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/portfolio.webp"
            alt="A website with three images at full height with a category name displayed on each image."
            class="mb-2 rounded-lg duration-600 hover:scale-150"
          />
        </a>
        <h3 class="card-heading">Photo Portfolio</h3>
        <span class="pill">Design & Code</span>
      </div>

      <div class="card">
        <a
          href="https://prerun.netlify.app/#/"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/run.webp"
            alt="Three mobile screen mockups displaying three different interfaces of a running app."
            class="mb-2 rounded-lg duration-600 hover:scale-150"
          />
        </a>
      </div>

      <div class="card">
        <a
          href="https://saltstonehotel.netlify.app"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/hotel.webp"
            alt="A website with a large hero section and a grid of large cards displayed below."
            class="mb-2 rounded-lg duration-600 hover:scale-150"
          />
        </a>
      </div>

      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=1-155&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=1%3A155"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/dogs.webp"
            alt="A website displaying a large hero section with a dog and a vertical card displaying an image of dogs and text below."
            class="mb-2 rounded-lg duration-600 hover:scale-150"
          />
        </a>
      </div>

      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-458&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A458"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/bakery.webp"
            alt="A website with a wide hero section showing a cinnamon roll with a bento box grid below, alternating text and images."
            class="mb-2 rounded-lg duration-600 hover:scale-150"
          />
        </a>
      </div>

      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-1594&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A1594"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/band.webp"
            alt="A website with a dark background, displaying large images in blue tones and bold text."
            class="mb-2 rounded-lg duration-600 hover:scale-150"
          />
        </a>
      </div>
    </div> -->
    <!-- <h1 id="portfolio" class="heading text-center text-6xl text-rose-600 pb-4">
      My work
    </h1>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-stretch"
    >
      <div class="card">
        <a
          href="https://elviraholmberg.netlify.app"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/portfolio-preview.webp"
            alt="A website with three images at full height with a category name displayed on each image."
            class="aspect-square mb-2 rounded-lg"
          />
        </a>
        <h3 class="heading text-lg">Photo Portfolio</h3>
        <span class="pill">Design & Code</span>
        <p class="pb-4">
          The goal was to work with a real client to create a design tailored to
          their needs. I built a photography portfolio using Astro and learned
          how to write a JSON-file to reference each photo's properties.
        </p>
        <a
          href="https://elviraholmberg.netlify.app"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Live demo</a
        >
      </div>

      <div class="card">
        <a
          href="https://prerun.netlify.app/#/"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/prerun-preview.webp"
            alt="Three mobile screen mockups displaying three different interfaces of a running app."
            class="aspect-square object-cover mb-2 rounded-lg"
          />
        </a>
        <h3 class="heading text-lg">Running Planner</h3>
        <span class="pill">Design & Code</span>
        <p class="pb-4">
          The goal was to create an app displaying data from an API, using a
          JavaScript framework. I built a runner's planning app using Vue.js.
        </p>
        <a
          href="https://prerun.netlify.app/#/"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Live demo</a
        >
      </div>

      <div class="card">
        <a
          href="https://saltstonehotel.netlify.app"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/hotel-preview.webp"
            alt="A website with a large hero section and a grid of large cards displayed below."
            class="aspect-square mb-2 rounded-lg"
          />
        </a>
        <h3 class="heading text-lg">Hotel Website</h3>
        <span class="pill">Design & Code</span>
        <p class="pb-4">
          The goal was to build a complete website using a CSS framework. I
          built a website for a fictional hotel and learned how to use Tailwind
          CSS.
        </p>
        <a
          href="https://saltstonehotel.netlify.app"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Live demo</a
        >
      </div>

      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=1-155&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=1%3A155"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/breeder-preview.webp"
            alt="A website displaying a large hero section with a dog and a vertical card displaying an image of dogs and text below."
            class="aspect-square mb-2 rounded-lg"
          />
        </a>
        <h3 class="heading text-lg">Dog Breeder's Website</h3>
        <span class="pill">Design & Prototype</span>
        <p class="pb-4">
          The goal was to create a Figma prototype for a dog breeder's website.
          I learned more about creating consistent and clear interfaces.
        </p>
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=1-155&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=1%3A155"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Prototype</a
        >
      </div>

      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-458&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A458"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/bakery-preview.webp"
            alt="A website with a wide hero section showing a cinnamon roll with a bento box grid below, alternating text and images."
            class="aspect-square mb-2 rounded-lg"
          />
        </a>
        <h3 class="heading text-lg">Bakery Website</h3>
        <span class="pill">Design & Prototype</span>
        <p class="pb-4">
          The goal was to create a Figma prototype for a new (fictional) local
          business. I learned more about spacing and typography.
        </p>
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-458&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A458"
          target="_blank"
          class="btn btn-hover self-center mt-auto focus-indicator">Prototype</a
        >
      </div>

      <div class="card">
        <a
          href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-1594&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A1594"
          target="_blank"
          class="focus-indicator"
        >
          <img
            src="/band-preview.webp"
            alt="A website with a dark background, displaying large images in blue tones and bold text."
            class="aspect-square mb-2 rounded-lg"
          />
        </a>
        <h3 class="heading text-lg">Band Website</h3>
        <span class="pill">Design & Prototype</span>
        <p class="pb-4">
          The goal was to create a Figma prototype for a fictional band called
          Espressivo. I learned more about branding and thinking outside of the
          box.
        </p>
        <div class="flex justify-center gap-4">
          <a
            href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-1594&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A1594"
            target="_blank"
            class="btn btn-hover mt-auto focus-indicator">Desktop</a
          >
          <a
            href="https://www.figma.com/proto/bJxWimYxh05MwSNR1aSww3/Portfolio?node-id=2-1292&p=f&viewport=
        %20%20%20%20%20%20284%2C131%2C0.13&t=ZCCW9XViJHuB5QyR-0&scaling=min-zoom&content-scaling=
        fixed&starting-point-%20%20%20%20%20%20node-id=2%3A1292&show-proto-sidebar=1&starting-point-node-id=2%3A1292"
            target="_blank"
            class="btn btn-hover mt-auto focus-indicator">Mobile</a
          >
        </div>
      </div>
    </div> -->
  </div>
</Layout>
