---

---

<div class="container mx-auto">
  <h2 id="about" class="heading text-center">About me</h2>
  <p>
    For the past year I've been studying web design and with good knowledge
    about HTML, CSS, JavaScript, frameworks, and UX/UI design, I am eager to
    create robust websites that help clients improve their visibility online. I
    work efficiently and with intention, and focus on inclusive and accessible
    web design.
  </p>
  <p>
    Whether you are looking for a new design or need assistance with the full
    experience from design to code, I'm here to help!
  </p>
</div>
