---

---

<div class="flex flex-col-reverse md:flex-row gap-4">
  <div class="container justify-center">
    <p class="text-black/60">Hello</p>
    <h1 class="heading text-4xl">I'm Amanda</h1>
    <p class="uppercase text-xl">Web Designer & Developer</p>
    <p class="max-w-2xl">
      With an eye for details and a soft spot for accessibility, I want to help
      people and companies to be seen online with beautiful, functional and
      tailored websites.
    </p>
    <div class="flex gap-4">
      <a href="#portfolio" class="btn btn-hover self-start">View portfolio</a>
      <a href="#contact" class="btn btn-hover self-start">Contact me</a>
    </div>
  </div>
  <img
    src="/avatar.jpg"
    alt="Amanda seen in profile, facing a green tree."
    class="object-cover max-h-96 md:h-full md:w-1/2"
  />
</div>
