---

---

<div class="container mx-auto">
  <h2 id="portfolio" class="heading text-center">My Work</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-stretch"
  >
    <div class="card">
      <a href="">
        <img
          src="/portfolio-preview.png"
          alt=""
          class="aspect-square mb-2 rounded-lg"
        />
      </a>
      <h3 class="heading text-lg">Photo Portfolio</h3>
      <span class="pill">Design & Code</span>
      <p class="pb-4">
        The goal was to work with a real client to create a design tailored to
        their needs. I built a photography portfolio using Astro and learned how
        to write a JSON-file to reference each photo's properties.
      </p>
      <a href="#" class="btn btn-hover self-center mt-auto">Live demo</a>
    </div>

    <div class="card">
      <a href="">
        <img
          src="/prerun-preview.png"
          alt=""
          class="aspect-square object-cover mb-2 rounded-lg"
        />
      </a>
      <h3 class="heading text-lg">Run Planner App</h3>
      <span class="pill">Design & Code</span>
      <p class="pb-4">
        The goal was to create an app displaying information from an API, using
        a JavaScript framework. I built a runner's planning app using Vue.js.
      </p>
      <a href="#" class="btn btn-hover self-center mt-auto">Live demo</a>
    </div>

    <div class="card">
      <a href="">
        <img
          src="/hotel-preview.png"
          alt=""
          class="aspect-square mb-2 rounded-lg"
        />
      </a>
      <h3 class="heading text-lg">Hotel Website</h3>
      <span class="pill">Design & Code</span>
      <p class="pb-4">
        The goal was to build a complete website using a CSS framework. I built
        a website for a fictional hotel and learned how to use Tailwind CSS.
      </p>
      <a href="#" class="btn btn-hover self-center mt-auto">Live demo</a>
    </div>

    <div class="card">
      <a href="">
        <img
          src="/breeder-preview.png"
          alt=""
          class="aspect-square mb-2 rounded-lg"
        />
      </a>
      <h3 class="heading text-lg">Breeder's Website</h3>
      <span class="pill">Design & Prototype</span>
      <p class="pb-4">
        The goal was to create a Figma prototype for a dog breeder's website. I
        learned more about creating consistent and clear interfaces.
      </p>
      <a href="#" class="btn btn-hover self-center mt-auto">Live demo</a>
    </div>

    <div class="card">
      <a href="">
        <img
          src="/cafe-preview.png"
          alt=""
          class="aspect-square mb-2 rounded-lg"
        />
      </a>
      <h3 class="heading text-lg">Café Website</h3>
      <span class="pill">Design & Prototype</span>
      <p class="pb-4">
        The goal was to create a Figma prototype for a new (fictional) local
        business. I learned more about spacing and typography.
      </p>
      <a href="#" class="btn btn-hover self-center mt-auto">Live demo</a>
    </div>

    <div class="card">
      <a href="">
        <img
          src="/band-preview.png"
          alt=""
          class="aspect-square mb-2 rounded-lg"
        />
      </a>
      <h3 class="heading text-lg">Band Website</h3>
      <span class="pill">Design & Prototype</span>
      <p class="pb-4">
        The goal was to create a Figma prototype for a fictional band called
        Espressivo. I learned more about branding and thinking outside of the
        box.
      </p>
      <a href="#" class="btn btn-hover self-center mt-auto">Live demo</a>
    </div>
  </div>
</div>
