---

---

<footer class="flex justify-between items-center p-4 md:p-6 lg:p-8">
  <p class="text-sm">&copy; 2026 Amanda Connell</p>
  <div class="flex gap-4">
    <a
      href="https://www.linkedin.com/in/connellamanda/"
      target="_blank"
      class="transition duration-300 active:scale-90 hover:text-rose-600 active:text-rose-600"
    >
      <i class="bi bi-linkedin text-xl"></i>
    </a>
    <a
      href="https://github.com/amandaconnell"
      target="_blank"
      class="transition duration-300 active:scale-90 hover:text-rose-600 active:text-rose-600"
    >
      <i class="bi bi-github text-xl"></i>
    </a>
  </div>
</footer>
