---

---

<footer class="flex justify-between items-center p-4 md:p-6 lg:p-8">
  <p class="text-sm">&copy; 2026 Amanda Connell</p>
  <div class="flex items-center gap-2">
    <p class="text-black/60">Follow me</p>
    <a
      href="https://www.linkedin.com/in/connellamanda/"
      target="_blank"
      class="transition-all duration-300 active:scale-85"
    >
      <i class="fa-brands fa-linkedin fa-xl"></i>
    </a>
  </div>
</footer>
