---

---

<footer class="flex justify-between pt-4">
    <p class="text-sm">&copy; 2026 Amanda Connell</p>
    <div class="flex gap-2">
        <p class="text-black/60">Follow me</p>
        <p>ICO</p>
    </div>
</footer>