---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="p-4 md:p-6 lg:p-8">
  <nav class="flex justify-between items-center">
    <a
      href="/"
      class="font-secondary font-bold text-4xl tracking-wider focus-indicator"
      >AC.
    </a>
    <div class="flex items-center gap-8">
      <ul class="hidden sm:flex gap-10 text-lg">
        <li>
          <a
            href="/"
            class="py-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator group"
            >Home
            <div class="link-underline"></div></a
          >
        </li>
        <li>
          <a
            href="/work/"
            class="py-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator group"
            >Work
            <div class="link-underline"></div></a
          >
        </li>
        <li>
          <a
            href="/about/"
            class="py-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator group"
            >About
            <div class="link-underline"></div></a
          >
        </li>
        <li>
          <a
            href="/contact/"
            class="py-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator group"
            >Contact
            <div class="link-underline"></div></a
          >
        </li>
      </ul>
      <ThemeToggle />
    </div>

    <!-- Mobile menu button -->
    <button id="menu-btn" class="sm:hidden focus-indicator">
      <svg
        class="w-8 h-8"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M9 18h11"></path>
      </svg>
    </button>
  </nav>
</header>

<!-- Mobile menu, hidden by default -->
<ul id="mobile-menu" class="hidden p-4">
  <li class="py-2">
    <a
      href="/"
      class="block hover:border-l-4 hover:pl-2 active:border-l-4 active:pl-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator"
      >Home</a
    >
  </li>
  <li class="py-2">
    <a
      href="/work/"
      class="block hover:border-l-4 hover:pl-2 active:border-l-4 active:pl-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator"
      >Work</a
    >
  </li>
  <li class="py-2">
    <a
      href="/about/"
      class="block hover:border-l-4 hover:pl-2 active:border-l-4 active:pl-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator"
      >About</a
    >
  </li>
  <li class="py-2">
    <a
      href="/contact/"
      class="block hover:border-l-4 hover:pl-2 active:border-l-4 active:pl-2 active:text-black/75 dark:active:text-orange-50/75 focus-indicator"
      >Contact</a
    >
  </li>
</ul>

<script>
  const menuBtn = document.getElementById("menu-btn");
  const mobileMenu = document.getElementById("mobile-menu");

  const btnOpen = `<svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M9 18h11"></path>
  </svg>`;

  const btnClose = `<svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
    <line x1="6" y1="6" x2="18" y2="18" />
    <line x1="6" y1="18" x2="18" y2="6" />
  </svg>`;

  menuBtn?.addEventListener("click", () => {
    const menuOpen = !(mobileMenu?.classList.contains("hidden") ?? true);
    mobileMenu?.classList.toggle("hidden");

    menuBtn.style.transition = "opacity 0.2s ease";
    menuBtn.style.opacity = "0";

    setTimeout(() => {
      menuBtn.innerHTML = menuOpen ? btnOpen : btnClose;
      menuBtn.style.opacity = "1";
    }, 100);
  });
</script>
